<div class="results">
  <% if @search_gem %>
  <a href="https://rubygems.org/gems/<%= @search_gem.first["name"] %> id="searchedGem"> <%= @search_gem.first["name"] %> </a> <br/>
  <h5>INFORMATION</h5>
  <%= @search_gem.first["info"] %>
  <h5>DEPENDENCIES</h5>
      dependencies <br/>
  <% else %>
  <%= 'NO GEMS' %>
  <% end %>

</div>
