<%= render "sidenav" %>
<div class="favPage">
  <h2>Your Favorite Gems</h2>
  <ul class="list">
    <li id="rails" class="fav selectable">rails</li>
    <li id="bcrypt" class="selectable">bcrypt</li>
    <li>
      <a
      href="https://rubygems.org/gems/<%= @name%>"
      id="<%= @name%>" class="selectable"> <%= @name %>
    </a>
  </li>
  </ul>
</div>
