<%= render "sidenav" %>
<div class="searchPage">
  <h2>Search Gems</h2>
  <div class="searchBar">
    <input type="text" name="seach" placeholder="Search" class="round" />
    <input type="submit" class="corner" value=""/>
  </div>
</div>
